#video{
    width:720px;
    margin:20px auto;
    padding: 5px;
    background: orange;
    border: 2px solid red;
    border-radius: 8px;
}

nav{
    margin:5px 0;   
}

#botones{
    float: left;
    width: 100px;
    height: 20px;
}

#bar{
    background: white;
    width:600px;
    height:16px;
    border:1px solid grey;
    padding:3px;
    margin-left:80px;
}

#progress{
    position: absolute;
    width:0px;
    height:16px;
    background: rgba(0,0,150,2);
}